body {
	font-family: 'Open Sans', sans-serif;
}

canvas {
	background-color: #0E00A8;
}

canvas:hover {
	cursor: pointer; 
}

.draw-pier-wrapper p {
	text-align: center;
	font-size: 18px;
}

.header-wrapper {
	background-color: #2E65C9;
	padding: 10px 0px 10px 10px;
	margin: 0px 0px 30px 0px;
}

.header-wrapper h1 {
	color: white;
}

.header-wrapper small {
	color: white;
	font-style: italic;	
}

.menu-wrapper {
	position: relative;
	text-align: center;
}

.menu-wrapper .panel{
	border: 0px;
}

.menu-wrapper .panel-heading-body{
	border-radius: 25px;
	border: 2px solid #2E65C9;
}

.menu-wrapper .panel-heading{
	border-radius: 25px;
	background-color: #D6B06F;
	color: white;
}

.menu-wrapper .panel-heading .panel-title{
	font-size: 20px;
}

.menu-wrapper .panel-body {
	background-color: #F2F2F2;
	margin-top: 10px;
	border-radius: 25px;
	border: 1px solid #2E65C9;

}

.menu-wrapper button {
	width: 90%;
	margin: 5px;
	background-color: #2E65C9;
	font-size: 15px;
}

.acessory-itens {
	margin: 5px;
}

.acessory-item {
	font-size: 18px;
}

.acessory-item .glyphicon {
	color: #2E65C9;
}

.acessory-item .glyphicon-remove {
	color: red;
}


.qtd-btn:hover {
	cursor: pointer; 
}

.remove-btn:hover {
	cursor: pointer; 	
}

.sucess {
	width: 100%;
	font-size: 25px;
	background-color: #2EC944;
}

.up {
	width: 100%;
	font-size: 25px;
}

.next span {
	margin-left: 10px;
}

.preview-img {
	width: 80%;
}

.order-wrapper {
	background-color: #F2F2F2;
	border-radius: 25px;
	padding-bottom: 10px;
	margin-right: initial;
	margin-left: initial;
}

.order-wrapper form input{
	margin: 5px;
}

.order-itens {
	background-color: white;
	font-style: italic;
	border-radius: 15px;
	border: 2px solid #D6D6D6;

}

h4, h3, h2 {
	text-align: center;
}

hr {
	margin-top: 300px;
}

.finished-wrapper .glyphicon {
	margin-top: 40px;
	font-size: 180px;
	color: #2EC944;
}

.footer {
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 60px;
  margin-top: 20px;
  background-color: #2E65C9;
}


.glyphicon-ok-sign {
	margin-left: 30px;
}