<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Editor de Pier </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <link   href="css/bootstrap.min.css" rel="stylesheet">
  <link   href="css/use_this.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="lib/utils.js"></script>
  <script src="lib/editor_logic.js"></script>
  <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
  <script src="lib/react.min.js"></script>
  <script src="lib/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>
  <script src="lib/JSXTransformer.js"></script>
  <script src="lib/acessory_item.js" type="text/babel" ></script>
  <script src="lib/acessory_list.js" type="text/babel" ></script>
  <script src="lib/finish_order.js" type="text/babel" ></script>

</head>
<body>
  <div>
    <div class=" col-lg-12 header-wrapper">
      <div class="col-lg-8">
        <h1>Construtor de Piers: <small>construa seu pier e solicite um orçamento!</small></h1>
      </div>
      <div class= 'col-lg-4'>
        <img src='/img/logo-smart-pier-peq.png' />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="draw-pier-wrapper row">
      <h2> 1º passo: Desenhe seu Pier </h2>
      <div class="col-lg-5 col-lg-push-1"> 
        <canvas  width="550" height="500" id="canvas"></canvas>
      </div>
      <div class= "col-lg-5 col-lg-push-1">
        <h3> Instruções </h3>
        <p> Duplo-clique para rotacionar</p>
        <p> Clique e arraste para mover </p>
        <div id= "select-acessories"></div>
      </div>
    </div>
    <hr>
    <div class="acessory-wrapper row">
      <h2> 2º passo: Escolha os Acessórios </h2>
      <div class="col-lg-4 col-lg-push-1"> 
        <div  class="menu-wrapper" >
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Acessórios</h3>
            </div>
            <div class="panel-body">
              <div id='acessory-menu' ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-lg-push-2">
        <div class="panel panel-default list-wrapper">
           <div class="panel-heading">
              <h3 class="panel-title">Acessórios Selecionados</h3>
            </div>
          <div class="panel-body">
            <div id= "acessory-list"> </div>
          </div>
        </div>
        <div id= "finish-order"></div>
      </div>
    </div>
    <hr>
    <div class="order-wrapper row">
      <h2> 3º passo: Preencha seus dados Pessoais </h2>
      <div id= "confirm-order"> </div>
    </div>
    <hr>
    <div class="finished-wrapper row">
      <h2>Orçamento Enviado! Entraremos em contato assim que possível, obrigado!</h2>
      <span class="col-lg-push-5 col-lg-6 glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
    </div>

  </div>
  <hr>
<footer class= "footer">
  <div class= "container">
      <h4>Smartpier 2016 - Todos os Direitos Reservados</h4>
  </div>
</footer>  
</body>
</html>